$primary: rgba(24, 91, 222, 1);
$primary-40: rgba(24, 91, 222, 0.4);
$primary-accept: rgba(7, 56, 182, 1);

$secondary: rgba(43, 48, 54, 1);
$secondary-40: rgba(43, 48, 54, 0.4);
$secondary-accept: rgba(49, 56, 63, 1);

$grey: rgba(67, 77, 86, 1);
$dark: rgba(34, 38, 42, 1);
$dark-accept: rgba(24, 27, 30, 1);

$primary-text-color: rgba(253, 253, 253, 1);
$primary-text-color-50: rgba(253, 253, 253, 0.5);