registry = https://nexus.stdev.ru/repository/npm-js-group/
//nexus.stdev.ru/repository/npm-js-group/:_authToken=NpmToken.500d3648-dfc9-3dd0-b4db-143872398f1c
//nexus.stdev.ru/repository/npm-js-local/:_authToken=NpmToken.500d3648-dfc9-3dd0-b4db-143872398f1c